<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="images/logo.png" alt="logo.png" width="125px">
            </div>
            <nav>
                <ul>
                    <li><a href="/front/Home/index.html">Home</a></li>
                    <li><a href="/front/Projeto/projeto.html">Projetos</a></li>
                    <li><a href="/front/Sobre/about.html">Sobre</a></li>
                    <li><a href="/front/Contact/contact.html">Contato</a></li>
                    <li><a href="/front/Login/login.html">Conta</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!----- Login ----->
<div class="session">
    <div class="left">
    </div>
    <form action="" class="log-in" autocomplete="off" method="GET">
        <h4>Nós somos <span>AgroX</span></h4>
        <p>Esqueceu sua senha?<br>Recupere sua conta através de seu email:</p>
        <div class="floating-label">
            <input placeholder="Email" type="email" name="email" id="email" autocomplete="off">
            <label for="email">Email de Recuperação:</label>
        </div>

        <button type="submit" onclick="javascript:window.location.href='/front/Login/login.html'; return false;">Recuperar senha</button>
    </form>
</div>